.header {
    grid-area: header;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.loginLink a {
    text-decoration: none;
    color: black;
}