.back {
    background-color: cornflowerblue;
}

.dialogs_wrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs {

}

.dialogItems {

}

.dialogItem {

}

.messages {

}

.message {
    padding: 10px;
    border: 1px solid red;
    margin: 4px;
}